@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DynaPuff", cursive;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 200px;
  background-color: #dcdcdc;
  font-size: 1.5rem;
  text-shadow: 3px 3px #444;
}

.id-color {
  font-size: 2rem;
  text-align: center;
  padding: 10px 5px;
  width: 80%;
  max-width: 550px;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
}

.button-container {
  width: 80%;
  max-width: 550px;
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 1.5rem;
  margin-top: 30px;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #888;
  box-shadow: 1px 1px #444;
}

button:hover {
  background-color: #666;
}
